@font-face {
  font-family: Roboto;
  src: url(../../public/polices/Roboto/Roboto-Light.ttf);
  src: url(../../public/polices/Roboto/Roboto-Black.ttf);
}

@font-face {
  font-family: Shrikhand;
  src: url(../../public/polices/Shrikhand/Shrikhand-Regular.ttf);
}

body {
  font-family: 'Roboto-Light', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  font-family: 'Shrikhand', cursif;
}

h1 {
  margin: 0%;
  font-family: 'Roboto-Black', sans-serif;
}

h2 {
  margin-left: 5%;
}

::-webkit-input-placeholder {
  font-weight: bold;
}

:-ms-input-placeholder {
  font-weight: bold;
}

::-ms-input-placeholder {
  font-weight: bold;
}

::placeholder {
  font-weight: bold;
}

.menus-cards h1 {
  font-size: 1.6rem;
  margin-left: 5%;
  margin-bottom: 0px;
}

.menus-cards h2 {
  font-size: .9rem;
  font-weight: lighter;
  border-bottom: solid 3px #99E2D0;
  width: 45px;
  padding-bottom: 4px;
  margin: 25px 5%;
}

.menus-cards h3 {
  font-size: .8em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menus-cards p {
  font-size: .7em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.restaurants h3 {
  margin: 3% 0 3% 5%;
}

.restaurants p {
  margin: 0% 0 5% 5%;
}

.bold {
  font-weight: bold;
}

i.fas.fa-check-circle {
  display: block;
}

/*Animation menu Fonctionnement*/
.functions__choice {
  position: relative;
}

.functions__choice:hover {
  cursor: pointer;
}

.functions__choice:hover::after {
  opacity: 0.3;
  border-radius: 15px;
}

.functions__choice::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #8641d8;
  opacity: 0;
  -webkit-transition: opacity 800ms;
  transition: opacity 800ms;
  border-radius: 15px;
}

/*Animation coloration coeur hover*/
.heart__empty {
  z-index: 2;
  position: absolute;
  font-size: 25px;
  opacity: 1;
  background-color: white;
}

.heart__empty:hover {
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}

.heart__empty--grey {
  background: #eaeaea;
}

.heart__full {
  opacity: 1;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  background-clip: unset;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  z-index: 1;
}

.heart__full:hover {
  z-index: 1;
  opacity: 1;
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}

/*Animation apparitions cartes progressive*/
.cards-style {
  -webkit-animation: load 600ms backwards;
          animation: load 600ms backwards;
  -webkit-transition: 1500ms;
  transition: 1500ms;
}

.cards-style--load1 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.cards-style--load2 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.cards-style--load3 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.cards-style--load4 {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.cards-style--load5 {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
}

.cards-style--load6 {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
}

.cards-style--load7 {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
}

.cards-style--load8 {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
}

.cards-style--load9 {
  -webkit-animation-delay: 2700ms;
          animation-delay: 2700ms;
}

@-webkit-keyframes load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}

@keyframes load {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  100% {
    opacity: 1;
  }
}

/*Animation hover sur les plats*/
/*annimation loader*/
.load_spinner {
  border: 5px solid white;
  border-top: 5px #9356DC solid;
  border-right: 5px #FF79DA solid;
  border-bottom: 5px #9356DC solid;
  border-left: 5px #FF79DA solid;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-animation: spin 3s linear 3;
          animation: spin 3s linear 3;
  background-color: #9356DC;
}

.load_spinner--small {
  width: 60px;
  height: 60px;
  animation: spin 3s reverse 3 linear;
  background-color: #FF79DA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.load_spinner--small img {
  height: 60px;
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0;
  }
}

.white {
  background-color: white;
  z-index: -2;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  -webkit-animation: disappears 4s;
          animation: disappears 4s;
}

@-webkit-keyframes disappears {
  0% {
    opacity: 1;
    z-index: 3;
  }
  50% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}

@keyframes disappears {
  0% {
    opacity: 1;
    z-index: 3;
  }
  50% {
    opacity: 1;
    z-index: 3;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}

button {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 50px;
  height: 50px;
  width: 70%;
  font-weight: bold;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
          box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
  color: white;
}

.btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.new {
  height: 32px;
  width: 90px;
  font-size: .9em;
  color: #43af94;
  background-color: #99e2d0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  z-index: 1;
  right: 5%;
  margin-top: 4%;
}

/*Version Desktop*/
@media all and (min-width: 992px) {
  body {
    background-color: #f6f6f6;
  }
  /*Header*/
  header img {
    width: 30%;
    margin-top: 30px;
  }
  /*Nav*/
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    width: 90%;
    margin: auto;
    height: 400px;
    gap: 3%;
    margin-top: 50px;
  }
  .nav nav i {
    font-size: 25px;
    color: #9356DC;
    margin-right: 30px;
  }
  .nav .maps {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    border-radius: 15px;
    overflow: hidden;
    -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
            box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
    background-color: white;
  }
  input {
    height: 80%;
  }
  .functions__choice {
    background-color: #f6f6f6;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: 0.1px solid #eaeaea;
  }
  .functions-column {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
            box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
  }
  /*Cartes Restaurant*/
  section.restaurants {
    background-color: #f6f6f6;
    max-width: 80%;
    margin: 50px auto;
    max-height: 680px;
  }
  section.restaurants h2 {
    margin: 0 0 0 2.5%;
  }
  .restaurants__cards {
    display: block;
    max-height: 600px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .restaurants__cards a {
    max-width: 45%;
    background-color: #eaeaea;
    min-height: 260px;
  }
  .new {
    z-index: 1;
    position: absolute;
  }
  /*Footer*/
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    font-size: 19px;
  }
  footer .logo p {
    font-size: 30px;
    text-align: center;
    margin: 0px;
  }
}

/*Version Tablette*/
@media all and (min-width: 768px) and (max-width: 991px) {
  /*Header*/
  /*Nav*/
  .functions-column {
    text-align: center;
  }
  .functions-column h2 {
    margin: 30px 0px 0px 0px;
  }
  .functions {
    width: 50%;
    margin-left: 25%;
  }
  /*Cartes Restaurant*/
  .restaurants {
    width: 100%;
    max-height: 670px;
  }
  .restaurants__cards {
    display: block;
    width: 90%;
    max-height: 550px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .restaurants__cards a {
    max-width: 45%;
  }
  /*Footer*/
  footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer ul li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
    font-size: 17px;
  }
  footer .logo p {
    font-size: 30px;
    text-align: center;
    margin: 0px;
  }
}

/*Header sur toutes les pages*/
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

header img {
  width: 40%;
  margin: 10px 0px;
}

header a {
  position: relative;
  right: 22%;
}

/*Navigation Page Index*/
nav {
  background-color: #eaeaea;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 15px 8px -14px #a8a7a7 inset;
          box-shadow: 0px 15px 8px -14px #a8a7a7 inset;
}

input {
  background-color: #eaeaea;
  border: none;
}

.functions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functions__choice {
  background-color: #f6f6f6;
  height: 70px;
  width: 90%;
  margin-top: 25px;
  border-radius: 15px;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
          box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.functions__choice p {
  background-color: #9356DC;
  width: 25px;
  height: 25px;
  border-radius: 12.5px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10px;
  margin-right: 15px;
}

.functions i {
  font-size: 17px;
  margin-right: 5%;
  color: #6d6c6c;
}

.maps {
  background-color: #f6f6f6;
}

body {
  margin: 0px;
}

.maps__search {
  text-align: center;
  padding: 10% 0%;
  margin: 0% 10%;
}

li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

/*Cartes Pages Index*/
.restaurants img {
  max-height: 70%;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  position: relative;
}

.restaurants {
  background-color: #f6f6f6;
  height: 1100px;
  padding-top: 20px;
  margin-top: 40px;
}

.restaurants__cards {
  min-width: 100%;
  height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.restaurants a {
  display: block;
  background-color: white;
  width: 90%;
  margin: auto;
  height: 230px;
  margin-top: 3%;
  padding-bottom: 7px;
  overflow: hidden;
  border-radius: 15px;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
          box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
  position: relative;
}

.cards {
  max-width: 100%;
  max-height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards__column {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards__heart {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*Carte Pages Annexes*/
.restaurants-name img {
  width: 100%;
  height: 250px;
}

.menus-choice {
  min-width: 90%;
}

.menus-cards {
  background-color: #eaeaea;
  border-radius: 50px 50px 0px 0px;
  margin-top: -45px;
  position: relative;
  padding-bottom: 100px;
}

.menus-cards__aligned {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 35px;
}

.cards-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
          box-shadow: rgba(51, 51, 51, 0.2) 0px 20px 20px;
  max-width: 90%;
  margin: 3% 5%;
  padding-left: 3%;
}

.cards-style__meal {
  overflow: hidden;
  width: 80%;
}

.cards-style__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 30px 20px 10px auto;
}

.cards-style__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  border-radius: 0 15px 15px 0;
  margin-right: -70px;
  background-color: #99E2D0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.cards-style__rotate {
  text-align: center;
  font-size: 35px;
  color: white;
  -webkit-transition: all 1100ms;
  transition: all 1100ms;
  position: relative;
  width: 80px;
}

.cards-style:hover .cards-style__check {
  margin-right: 0;
}

.cards-style:hover .cards-style__rotate {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

/*MEDIAQUERIES PAGE INDEX*/
/*Version Tablette*/
/*Version Desktop*/
/*Footer sur toutes les pages*/
footer {
  min-height: auto;
  background-color: #353535;
  color: white;
  padding: 25px 0px;
}

footer ul {
  margin: 0;
}

footer ul li {
  margin: 2% 0%;
}

footer .logo {
  font-size: 20px;
  padding-bottom: 2%;
  margin-left: 40px;
}

footer i {
  margin-right: 3%;
  font-size: 14px;
}

.fas.fa-hands-helping {
  font-size: 12px;
  max-width: 10px;
}

/*Version Tablette*/
@media all and (min-width: 768px) and (max-width: 991px) {
  body {
    background-color: #eaeaea;
  }
  header i {
    font-size: 28px;
  }
  header img {
    width: 28%;
  }
  .restaurants-name img {
    height: 400px;
  }
  .menus-choice__flex {
    width: 80%;
    margin: auto;
  }
  .menus-cards {
    width: 80%;
    margin: -5% auto 0 auto;
    border: 1px solid #9356DC;
  }
  .menus-cards__aligned {
    width: 60%;
    margin: auto;
    background-color: #eaeaea;
  }
  .menus-cards__aligned .cards__heart {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-right: 40px;
  }
  button {
    width: 40%;
  }
}

/*Version Desktop*/
@media all and (min-width: 992px) {
  body {
    margin: auto;
    background-color: #eaeaea;
  }
  header img {
    width: 18%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  header i {
    font-size: 30px;
  }
  .restaurants-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurants-name img {
    max-width: 650px;
    height: 350px;
    border-radius: 50%;
    z-index: 1;
    margin-top: 40px;
  }
  .menus-cards {
    background-color: #eaeaea;
  }
  .menus-cards__aligned {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 40px auto;
  }
  .menus-cards__aligned h1 {
    font-size: 35px;
    margin: 0;
  }
  .menus-cards__aligned .cards__heart {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menus-cards__aligned .cards__heart i {
    font-size: 35px;
  }
  .cards-style {
    background-color: white;
  }
  .menus-choice {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 60%;
    margin: auto;
  }
  .menus-choice__flex {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .btn-center {
    margin: auto;
    max-width: 45%;
    margin-top: 50px;
  }
  footer {
    min-height: 100px;
  }
  footer ul {
    font-size: 0.8em;
    height: 50px;
  }
}
/*# sourceMappingURL=main.css.map */