/*Cartes Pages Index*/
.restaurants img {
    width: 100%;
    max-height: 70%;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
    z-index: 0;
}
.restaurants {
    background-color: $grey-c;
    height: 1250px;
    padding-top: 20px;
    margin-top: 40px;
    &__cards {
        min-width: 100%;
        height: 1150px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.restaurants a {
    display: block;
    background-color: white;
    width: 90%;
    height: 23%;
    margin-top: 5%;
    @include Borderradius;
    @include boxshadow;
}
.cards {
    max-width: 100%;
    max-height: 30%;
    display: flex;
    &__column {
        width: 70%;
        display: flex;
        flex-direction: column;
    }
    &__heart {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/*Carte Pages Annexes*/
.restaurants-name img {
    width: 100%;
    height: 250px;
}

.menus-cards {
    background-color: $grey-f;
    border-radius: 50px 50px 0px 0px;
    margin-top: -45px;
    position: relative;
    padding-bottom: 100px;
    &__aligned {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 35px;
    }
}
.cards-style {
    @include Borderradius;
    @include boxshadow;
    background-color: white;
    margin: 4% 5% 0% 5%;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.meal {position: relative;
    display: flex;
    gap: 30px;
    transition: all 1100ms;
    translate: 80px;
    z-index: 1;
    background-color: white;
    &__price {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;

    }
}
.check {
        background-color: rgb(153, 226, 208);
        min-width: 25%;
        &__rotate {
            text-align: center;
            font-size:35px;
            color: white;
            transition: all 1100ms;
            top: 30%;
            position: relative;
            width: 80px;
        }
}
.test{
    
}