/*Footer sur toutes les pages*/
footer {
    min-height: auto;
    background-color: $black;
    color: white;
    padding: 25px 0px;
    ul {
        margin: 0;

        li {
            margin: 2% 0%;
        }
    }
    .logo {
        font-size: 20px;
        padding-bottom: 2%;
        margin-left: 40px;
    }
}
footer i {
    margin-right: 3%;
    font-size: 14px;
}
.fas.fa-hands-helping {
    font-size: 12px;
    max-width: 10px;
}
