/*Footer sur toutes les pages*/
footer {
    height: 190px;
    background-color: $black;
    color: white;
    ul {
        margin: 0% 0% 0% 5%;
        padding: 5% 0% 0% 0px;
        li {
            margin: 2% 0%;
        }
    }
    .logo {
        font-size: 20px;
        padding-bottom: 2%;
    }
}
footer i {
    margin-right: 3%;
    font-size: 14px;
}
.fas.fa-hands-helping {
    font-size: 12px;
    max-width: 10px;
}
