/*Version Tablette*/
@media all and (min-width: 768px) and (max-width: 991px) {
    body{
        background-color: $grey-f;

    }
    header {
        i{
            font-size: 28px;
        }
        img {
            width: 28%;
        }
    
    }
    .restaurants-name{
        img{
            height: 400px;
        }
    }
    .menus-choice__flex {
        width: 80%;
        margin: auto;
    }
    .menus-cards{
        
        width: 80%;
        margin:-5% auto 0 auto;
        border: 1px solid $color-primary;
        &__aligned {
        width: 60%;
        margin: auto;
        background-color: $grey-f;
        .cards__heart {
            justify-content: flex-end;
            margin-right: 40px;
        }
    }}
    button {
        width: 40%;
    }
}
/*Version Desktop*/
@media all and (min-width: 992px) {
    body {
        margin: auto;
        background-color: $grey-f;
    }
    header {
        img {
            width: 18%;
            object-fit: cover;
        }
        i {
            font-size: 30px;
        }
    }
    .restaurants-name {
        display: flex;
        justify-content: center;
        img {
            max-width: 650px;
            height: 350px;
            border-radius: 50%;
            z-index: 1;
            margin-top: 40px;
        }
    }
    .menus-cards {
        background-color: $grey-f;
        &__aligned {
            justify-content: center;
            flex-direction: column;
            margin: 40px auto;
            h1 {
                font-size: 35px;
                margin: 0;
            }
            .cards__heart {
                justify-content: center;
                i {
                    font-size: 35px;
                }
            }
        }
    }
    .cards-style {
        background-color: white;
    }
    .menus-choice {
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: auto;
        &__flex {
            flex: 1;
        }
    }
    .btn-center {
        margin: auto;
        max-width: 45%;
        margin-top: 50px;
    }

    footer {
        min-height: 100px;
        ul {
            font-size: 0.8em;
            height: 50px;
        }
    }
}
