/*Version Tablette*/
@media all and (min-width: 768px) and (max-width: 991px) {
}
/*Version Desktop*/
@media all and (min-width: 992px) {
    body{
       
        margin: auto;
        background-color: $grey-f
    }
    header{
        
        
        img{
            width: 15%;
            object-fit: cover;
        }
        i{
            font-size: 30px;
        }
    }
    .restaurants-name{
        display: flex;
        justify-content: center;
        img{
        width: 60%;
        border-radius: 50%;
        z-index: 1;
    }}
    .menus-cards{
        background-color: $grey-f;
    &__aligned{
        justify-content: center;
        flex-direction: column;
        margin:40px auto;
        h1{
            font-size: 35px;
            margin: 0;
        }
        .cards__heart{
            justify-content: center;
            i{
             font-size: 35px;
            }
        }
    
    }}
    .cards-style{
        background-color:white;
    }
    .menus-choice{
        display: flex;
        justify-content: space-around;
        width: 60%;
        margin: auto;
        .meal{
            background-color: white;
        }      
    }
    .btn-center{
        margin: auto;
        max-width:45%;
        margin-top: 50px;
    }
    
}