/*Navigation Page Index*/
nav {
    background-color: rgb(234, 234, 234);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 15px 8px -14px #a8a7a7 inset;
    i {
        font-size: 20px;
    }
}
.functions {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__choice {
        background-color: rgb(246, 246, 246);
        height: 70px;
        width: 90%;
        margin-top: 25px;
        @include rounded-edge;
        @include shadow;
        display: flex;
        align-items: center;
        p {
            background-color: $color-primary;
            width: 25px;
            height: 25px;
            border-radius: 12.5px;
            color: white;
            @include alignment-center;
            margin-left: -10px;
            margin-right: 15px;
        }
    }
}
.functions i {
    font-size: 17px;
    margin-right: 5%;
    color: rgb(109, 108, 108);
}
.maps {
    background-color: $grey-light;
}
/*Page Index*/
/*Version Tablette*/
@media all and (min-width: 768px) and (max-width: 991px) {
    .functions-column {
        text-align: center;
        h2 {
            margin: 30px 0px 0px 0px;
        }
    }
    .functions {
        width: 50%;
        margin-left: 25%;
    }
    .maps {
        padding-top: 1%;
    }
    nav {
        width: 60%;
        margin: 40px auto;
        background-color: $grey-dark;
        border: 1px solid $color-primary;
        box-shadow: 4px 4px rgba(146, 142, 142, 0.7);
        i {
            font-size: 25px;
            color: $color-primary;
            margin-right: 30px;
        }
    }
}
/*Version Desktop*/
@media all and (min-width: 992px) {
    .nav {
        display: flex;
        flex-direction: row;
        width: 90%;
        margin: auto;
        height: 400px;
        gap: 3%;
        margin-top: 50px;
        nav {
            width: 60%;
            margin: 40px auto 20px auto;
            background-color: $grey-dark;
            border: 1px solid $color-primary;
            box-shadow: 4px 4px rgba(146, 142, 142, 0.7);
            i {
                font-size: 25px;
                color: $color-primary;
                margin-right: 30px;
            }
        }
        .maps {
            flex: 1;
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            overflow: hidden;
            @include shadow;
            background-color: white;
            &__search {
                padding-top: 20px;
            }
            .button {
                margin-top: 40px;
            }
        }
    }
    .functions__choice {
        background-color: $grey-dark;
    }
    .functions-column {
        flex: 1;
        background-color: white;
        border-radius: 15px;
        @include shadow;
        h2 {
            margin-top: 50px;
            margin-bottom: 0;
        }
    }
}