.new {
    display: block;
    height: 32px;
    width: 90px;
    font-size: 0.9em;
    color: rgb(67, 175, 148);
    background-color: $color-tertiary;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    right: 5%;
    margin-top: 4%;
    position: absolute;
}
