button, .button {
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 50px;
    height: 50px;
    width: 70%;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
    color: white;
    transition: 1s;
    border: none;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-center {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
