button{
    background: linear-gradient( $color-secondary,$color-primary);
    border-radius: 50px;
    height: 50px;
    width: 70%;
    font-weight: bold;
    border: none;
    cursor: pointer;
    @include boxshadow;
    color:white
}
.btn-center{

        display: flex;
        justify-content: center;
        margin-top: 60px;
    
}
.new
{
    height: 32px;
    width: 90px;
    font-size: .9em;
    color: rgb(67, 175, 148);
    background-color: rgb(153, 226, 208);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    position:absolute;
    z-index: 1;
    left: 71%;
    margin-top: 4%;
    }