button {
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 50px;
    height: 50px;
    width: 70%;
    font-weight: bold;
    border: none;
    cursor: pointer;
    @include shadow;
    color: white;
    transition: 1s;
}
.btn-center {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
