@font-face {
    font-family: Roboto;
    src: url(../../public/polices/Roboto/Roboto-Light.ttf);
    src: url(../../public/polices/Roboto/Roboto-Black.ttf);
}
@font-face {
    font-family: Shrikhand;
    src: url(../../public/polices/Shrikhand/Shrikhand-Regular.ttf);
}
body {
    font-family: "Roboto-Light", sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
.logo {
    font-family: "Shrikhand", cursif;
}
h1 {
    margin: 0%;
    font-family: "Roboto-Black", sans-serif;
}
h2 {
    margin-left: 5%;
}
::placeholder {
    font-weight: bold;
}
.menus-cards {
    h1 {
        font-size: 1.6rem;
        margin-left: 5%;
        margin-bottom: 0px;
        white-space: nowrap;
    }
    h2 {
        font-size: 0.9rem;
        font-weight: lighter;
        border-bottom: solid 3px $color-tertiary;
        width: 45px;
        padding-bottom: 4px;
        margin: 25px 5%;
    }
    h3 {
        font-size: 0.8em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    p {
        font-size: 0.7em;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
.restaurants {
    h3 {
        margin: 3% 0 3% 5%;
    }
    p {
        margin: 0% 0 5% 5%;
    }
}
.bold {
    font-weight: bold;
}
i.fas.fa-check-circle {
    display: block;
}
