/*Animation menu Fonctionnement*/
.functions__choice {
    position: relative;
    &:hover {
        cursor: pointer;
        &::after {
            opacity: 0.3;
            @include rounded-edge;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;
        background-color: darken($color-primary, 5);
        opacity: 0;
        transition: opacity 800ms;
        @include rounded-edge;
    }
}
/*Animation boutton*/
button:hover {
    opacity: 0.8;
    box-shadow: 4px 5px 0 rgba(43, 41, 41, 0.603);
    border: solid 1px $color-primary;
    transform: scale(1.05);
}

/*Animation coloration coeur hover*/
.heart {
    &__empty {
        position: absolute;
        font-size: 25px;
        opacity: 1;
        background-color: white;
        &:hover {
            opacity: 0;
            transition: opacity 1s;
        }
        &--grey {
            background: $grey-dark;
        }
    }
    &__full {
        opacity: 1;
        background: -webkit-linear-gradient($color-primary, $color-secondary);
        background-clip: unset;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 25px;
        &:hover {
            opacity: 1;
            content: "";
            display: flex;
            position: absolute;
        }
    }
}
/*Animation apparitions cartes progressive*/
.cards-style {
    animation: load 600ms backwards;
    transition: 1500ms;
}
@for $i from 1 to 10 {
    .cards-style--load#{$i} {
        animation-delay: $i * 300ms;
    }
}
@keyframes load {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }
    100% {
        opacity: 1;
    }
}
/*Animation hover sur les plats*/

/*annimation loader*/
.load {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*change these sizes to fit into your project*/
    width: 100px;
    height: 100px;
}
.load hr {
    border: 0;
    margin: 0;
    width: 40%;
    height: 40%;
    position: absolute;
    border-radius: 50%;
    animation: spin 2s ease infinite;
}

.load :first-child {
    background: $color-primary;
    animation-delay: -1.5s;
}
.load :nth-child(2) {
    background: $color-secondary;
    animation-delay: -1s;
}
.load :nth-child(3) {
    background: $color-tertiary;
    animation-delay: -0.5s;
}
.load :last-child {
    background: $grey-dark;
}

@keyframes spin {
    0%,
    100% {
        transform: translate(0);
    }
    25% {
        transform: translate(160%);
    }
    50% {
        transform: translate(160%, 160%);
    }
    75% {
        transform: translate(0, 160%);
    }
}

.white {
    background-color: white;
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    animation: disappears 4s;
    z-index: -1;
}
@keyframes disappears {
    0% {
        opacity: 1;
        z-index: 2;
    }
    50% {
        opacity: 1;
    }
    95% {
        z-index: 2;
    }
    100% {
        opacity: 0;
    }
}
