$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$grey-f: rgb(234,234,234);
$grey-c: rgb(246,246,246);
$black: rgb(53,53,53);
$linear: linear-gradient($color-primary, $color-secondary)